<section>
        <div class="container">
            <div class="inscriptionFormulaire">
                <div class="inscriptionInfoCompte">
                    <h2>Informations du compte*</h2>
                    <form action="post">
                        <label for="pseudoinscri">Pseudo</label>
                        <br />
                        <input type="text" id="pseudoinscri" class="inputText">
                        <br />
                        <label for="mdpinscri">Mot de passe</label>
                        <br />
                        <input type="password" id="mdpinscri" class="inputText">
                        <br />
                        <label for="mdpconfirm">Confirmer mot de passe</label>
                        <br />
                        <input type="password" id="mdpconfirm" class="inputText">
                        <br />
                        <label for="mail">Email</label>
                        <br />
                        <input type="email" id="mail" class="inputText">
                        <br />
                        <label for="mailconfirm">Confirmer Email</label>
                        <br />
                        <input type="email" id="mailconfirm" class="inputText">
                        <br />
                    </form>
                </div>
                <div class="inscriptionInfoPerso">
                    <h2>Informations personelles</h2>
                    <form action="post">
                        <label for="prenom">Prénom</label>
                        <br />
                        <input type="text" id="prenom" class="inputText">
                        <br />
                        <label for="nom">Nom</label>
                        <br />
                        <input type="text" id="nom" class="inputText">
                        <br />
                        <label for="genre">Genre</label>
                        <br />
                        <input type="radio" id="genreM" name="genre">
                        <label for="genreM">M</label>
                        <input type="radio" id="genreF" name="genre">
                        <label for="genreF">F</label>
                        <input type="radio" id="genreN" name="genre">
                        <label for="genreN">N</label>
                        <br />
                        <label for="pays">Pays</label>
                        <br />
                        <select name="pays" id="pays" class="inputText">
                            <option value="belgique">Belgique</option>
                            <option value="france">France</option>
                            <option value="suisse">Suisse</option>
                        </select>
                        <br />
                        <label for="date">Date</label>
                        <br />
                        <input type="date" id="date" class="inputText">
                        <br />
                        <label for="parrain">Parrain</label>
                        <br />
                        <input type="text" id="parrain" class="inputText">
                        <br />
                    </form>
                </div>
                <div>
                    <input type="submit" value="Valider l'inscription" class="submitImportant">
                    <p>* Informations requises pour l'inscription.</p>
                </div>
            </div>
        </div>
    </section>