<section class="listeDragons">
        <section class="container">
            <div class="resumeDragon">
                <div class="imgDragonMiniature">
                    <img src="./assets/images/declinaisons/raptosor/raptosor_dragon_blanc_01.png"
                        alt="raptosor dragon blanc">
                </div>
                <div class="nomDragon">
                    <a routerLink="/dragon">
                        <h3>Nom du Dragon</h3>
                    </a>
                </div>
            </div>
        </section>
    </section>