<div class="container">
    <nav class="menuJeu">
        <div class="logo">
            <h1><a href="/"><img src="./assets/images/titre/titre_5.png" alt="Dracantis"></a></h1>
        </div>
        <ul>
            <li><a routerLink="elevage" title="Elevage">
                <img src="./assets/images/icones/icone_elevage.svg" alt="Icône Elevage">
            </a></li>
            <li><a routerLink="entrainements" title="Entrainements">
                <img src="./assets/images/icones/icone_entrainement.svg" alt="Icône entrainements">
            </a></li>
            <li><a routerLink="soigneur" title="Soigneur">
                <img src="./assets/images/icones/icone_soigneur.svg" alt="Icône soigneur">
            </a></li>
            <li><a routerLink="sorcier" title="Sorcier">
                <img src="./assets/images/icones/icone_sorcier.svg" alt="Icône Sorcier">
            </a></li>
            <li><a routerLink="marche" title="Marché">
                <img src="./assets/images/icones/icone_marche.svg" alt="Icone Marché">
            </a></li>
            <li><a routerLink="competitions" title="Compétitions">
                <img src="./assets/images/icones/icone_competitions.svg" alt="Icône compétitions">
            </a></li>
        </ul>
    </nav>

</div>