<section class="competitions">
        <section class="container">
            <article>
                <h3>Duels</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate pariatur amet accusamus
                    architecto vel illo corrupti quidem. Eum atque nesciunt eveniet repellat quas ipsam
                    blanditiis,
                    saepe sed ducimus et laboriosam.</p>
                <label for="duels">Inscrire un/des dragon(s) :</label>
                <select name="" id="duels" class="inputText">
                    <option value="1">Dragon1</option>
                </select>
                <a href="#" class="submitImportant">Inscrire</a>
            </article>
            <article>
                <h3>Courses</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate pariatur amet accusamus
                    architecto vel illo corrupti quidem. Eum atque nesciunt eveniet repellat quas ipsam
                    blanditiis,
                    saepe sed ducimus et laboriosam.</p>
                <label for="courses">Inscrire un/des dragon(s) :</label>
                <select name="" id="courses" class="inputText">
                    <option value="1">Dragon1</option>
                </select>
                <a href="#" class="submitImportant">Inscrire</a>
            </article>
            <article>
                <h3>Tirs de précision</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate pariatur amet accusamus
                    architecto vel illo corrupti quidem. Eum atque nesciunt eveniet repellat quas ipsam
                    blanditiis,
                    saepe sed ducimus et laboriosam.</p>
                <label for="tirs">Inscrire un/des dragon(s) :</label>
                <select name="" id="tirs" class="inputText">
                    <option value="1">Dragon1</option>
                </select>
                <a href="#" class="submitImportant">Inscrire</a>
            </article>
            <article>
                <h3>Chasses</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate pariatur amet accusamus
                    architecto vel illo corrupti quidem. Eum atque nesciunt eveniet repellat quas ipsam
                    blanditiis,
                    saepe sed ducimus et laboriosam.</p>
                <label for="chasses">Inscrire un/des dragon(s) :</label>
                <select name="" id="chasses" class="inputText">
                    <option value="1">Dragon1</option>
                </select>
                <a href="#" class="submitImportant">Inscrire</a>
            </article>
            <article>
                <h3>Gardien des lieux</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate pariatur amet accusamus
                    architecto vel illo corrupti quidem. Eum atque nesciunt eveniet repellat quas ipsam
                    blanditiis,
                    saepe sed ducimus et laboriosam.</p>
                <label for="gardien">Inscrire un/des dragon(s) :</label>
                <select name="" id="gardien" class="inputText">
                    <option value="1">Dragon1</option>
                </select>
                <a href="#" class="submitImportant">Inscrire</a>
            </article>
        </section>
    </section>