<section class="soigneur">
    <section class="container">
        <section class="listeDragons">
            <article>
                <div class="illustrationDragon">
                    <img src="../../assets/images/declinaisons/raptosor/raptosor_dragon_blanc_01.png"
                        alt="Illustration Dragon">
                </div>
                <div class="descriptionDragon">
                    <h3>Nom Dragon Blessé</h3>
                    <p>Blessure :</p>
                    <p>Cout du soin :</p>
                    <br />
                    <a href="#" class="submitImportant">Soigner</a>
                </div>
                <section class="illustration"></section>
            </article>
        </section>
        <section class="illustrationsoigneur">
            <div>
                <img src="../../assets/images/personnages/soigneur.svg" alt="">
            </div>
        </section>
    </section>
</section>