<section class="container">
        <section class="classements">
            <section class="classement">
                <h3>Classement Dragon</h3>
                <table>
                    <tr>
                        <td>1</td>
                        <td><a href="">Nom dragon</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="">Nom dragon</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a href="">Nom dragon</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><a href="">Nom dragon</a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><a href="">Nom dragon</a></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><a href="">Nom dragon</a></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td><a href="">Nom dragon</a></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td><a href="">Nom dragon</a></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td><a href="">Nom dragon</a></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td><a href="">Nom dragon</a></td>
                    </tr>
                </table>
            </section>
            <section class="classement">
                <h3>Classement Membre</h3>
                <table>
                    <tr>
                        <td>1</td>
                        <td><a href="">Pseudo membre</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="">Pseudo membre</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a href="">Pseudo membre</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><a href="">Pseudo membre</a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><a href="">Pseudo membre</a></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><a href="">Pseudo membre</a></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td><a href="">Pseudo membre</a></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td><a href="">Pseudo membre</a></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td><a href="">Pseudo membre</a></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td><a href="">Pseudo membre</a></td>
                    </tr>
                </table>
            </section>
        </section>
    </section>