<section class="container">
    <section class="historiquePouvoirs">
        <table>
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Nom pouvoir</td>
                    <td>Coût</td>
                    <td>Monnaie EC/EA</td>
                    <td>ID Dragon</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Infos</td>
                    <td>Infos</td>
                    <td>Infos</td>
                    <td>Infos</td>
                    <td>Infos</td>
                </tr>
                <tr>
                    <td>Infos</td>
                    <td>Infos</td>
                    <td>Infos</td>
                    <td>Infos</td>
                    <td>Infos</td>
                </tr>
                <tr>
                    <td>Infos</td>
                    <td>Infos</td>
                    <td>Infos</td>
                    <td>Infos</td>
                    <td>Infos</td>
                </tr>
            </tbody>
        </table>
    </section>
</section>