<section class="sorcier">
    <section class="container">
        <section class="pouvoirs">
            <article class="pouvoir">
                <div class="nomCout">
                    <h3>Nom du pouvoir</h3>
                    <p>Cout du pouvoir</p>
                </div>
                <div class="description">
                    <div>
                        <img src="#" alt="Illustration pouvoir">
                    </div>
                    <div class="texte">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis voluptatem
                            voluptatum quis, sequi a consectetur inventore exercitationem, tempora eligendi
                            aliquid
                            facere dignissimos dolor repudiandae veniam, accusantium ex hic reprehenderit aut?
                        </p>
                    </div>
                </div>
                <div class="utiliser">
                    <a href="#" class="submitImportant">Utiliser</a>
                </div>
            </article>
        </section>
        <section class="illusorcier">
            <div>
                <img src="../../assets/images/personnages/sorcier.svg" alt="">
            </div>
        </section>
    </section>
</section>