<section class="entrainement">
        <section class="container">
            <section class="imgDragEntrainement">
                <div>
                    <label for="choixDragon">Choisir un dragon :</label>
                    <select name="" id="choixDragon">
                        <option value="1">Dragon1</option>
                    </select>
                </div>
                <div>
                    <img src="./assets/images/declinaisons/raptosor/raptosor_dragon_blanc_01.png"
                        alt="raptosor dragon blanc">
                </div>
            </section>
            <section class="competences">
                <h3>Dressage</h3>
                <table>
                    <tr>
                        <td>Docilité</td>
                        <td></td>
                        <td>50</td>
                        <td>
                            <select name="" id="">
                                <option value="1">1</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Monte</td>
                        <td></td>
                        <td>30</td>
                        <td>
                            <select name="" id="">
                                <option value="1">1</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Synchronisation</td>
                        <td></td>
                        <td>70</td>
                        <td>
                            <select name="" id="">
                                <option value="1">1</option>
                            </select>
                        </td>
                    </tr>
                </table>

                <h3>Aptitudes</h3>
                <table>
                    <tr>
                        <td>Vitesse</td>
                        <td></td>
                        <td>350</td>
                        <td>
                            <select name="" id="">
                                <option value="1">1</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Souffle</td>
                        <td></td>
                        <td>350</td>
                        <td>
                            <select name="" id="">
                                <option value="1">1</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Force</td>
                        <td></td>
                        <td>0</td>
                        <td>
                            <select name="" id="">
                                <option value="1">1</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Inteligence</td>
                        <td></td>
                        <td>500</td>
                        <td>
                            <select name="" id="">
                                <option value="1">1</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Agilité</td>
                        <td></td>
                        <td>250</td>
                        <td>
                            <select name="" id="">
                                <option value="1">1</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Protection</p>
                        </td>
                        <td></td>
                        <td>
                            <p>300</p>
                        </td>
                        <td>
                            <select name="" id="">
                                <option value="1">1</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <p>Energie retirée par l'entrainement : 50% <a href="#" class="submitImportant">Valider
                        l'entrainement</a></p>

            </section>
        </section>
    </section>