<section class="ficheDragon">
        <section class="container">
            <section class="colGauche">
                <div class="soins">
                    <h3>Soins</h3>
                    <a href="#">Nettoyer l'enclos</a><br />
                    <a href="#">Abreuver</a><br />
                    <a href="#">Nourrir</a><br />
                    <a href="#">Laver</a><br />
                    <a href="#">Caresser</a><br />
                    <a href="#">Viellir</a><br />
                </div>
                <div class="reproduction">
                    <h3>Reproduction</h3>
                    <p>Mature sexuellement</p>
                    <a href="#">Faire une saillie</a><br />
                    <p>Nombre de dragonnet(s) :</p>
                </div>
                <div class="origines">
                    <h3>Origines</h3>
                    <p>Père :</p>
                    <p>Mère :</p>
                    <p>Naisseur :</p>
                    <p>Date de naissance :</p>
                </div>
                <div class="palmares">
                    <h3>Palmarès</h3>
                </div>
            </section>
            <section class="colCentrale">
                <div class="nomDragon">
                    <p>Nom :</p>
                </div>
                <div class="imageDragon">
                    <img src="./assets/images/declinaisons/raptosor/raptosor_dragon_blanc_01.png"
                        alt="raptosor dragon blanc">
                </div>
                <div class="infoGenerale">
                    <div class="">
                        <p>Race :</p>
                        <p>Sexe :</p>
                        <p>Age :</p>
                    </div>
                    <div class="">
                        <p>Colori :</p>
                        <p>Taille :</p>
                        <p>Poids :</p>
                    </div>
                </div>
                <div class="aptitudes">
                    <h3>Aptitudes</h3>
                    <table>
                        <tr>
                            <td>Vitesse</td>
                            <td></td>
                            <td>350</td>
                        </tr>
                        <tr>
                            <td>Souffle</td>
                            <td></td>
                            <td>350</td>
                        </tr>
                        <tr>
                            <td>Force</td>
                            <td></td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Inteligence</td>
                            <td></td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <td>Agilité</td>
                            <td></td>
                            <td>250</td>
                        </tr>
                        <tr>
                            <td>
                                <p>Protection</p>
                            </td>
                            <td></td>
                            <td>
                                <p>300</p>
                            </td>
                        </tr>
                    </table>
                    <P>Puissance :</P>
                    <div class="entrainer">
                        <a href="">Entrainer</a>
                    </div>
                </div>

            </section>
            <section class="colDroite">
                <div class="sante">
                    <h3>Santé</h3>
                    <p>Santé</p>
                    <p>Energie</p>
                    <p>Humeur</p>

                    <p>Le Dragon n'est pas malade</p>
                </div>
                <div class="dressage">
                    <h3>Dressage</h3>
                    <p>Docilité</p>
                    <p>Monte</p>
                    <p>Synchronisation</p>

                    <a href="#">Dresser</a>
                </div>
                <div class="bonus">
                    <h3>Bonus</h3>
                </div>
                <div class="inventaire">
                    <h3>Inventaire</h3>
                </div>
            </section>
        </section>
    </section>