<section class="forum">
        <section class="container">
            <div class="globalForum">
                <div class="categorieForum">
                    <h2>Categorie 1</h2>
                </div>
                <div class="sectionForum">
                    <div class="nouveauMessageForum">
                        <div class="icone"></div>
                    </div>
                    <div class="descriptionSectionForum">
                        <a href="#">Nom Section</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab vel veniam, pariatur
                            alias sequi eaque quia impedit esse id?</p>
                    </div>
                    <div class="nombreDeMessages">
                        <p>X Messages</p>
                        <p>X Sujets</p>
                    </div>
                    <div class="dernierPosteur">
                        <p>Dernier Message :</p>
                        <a href="#">Pseudo du Membre</a>
                        <p>Date et Heure du message</p>
                    </div>
                </div>
                <div class="sectionForum">
                    <div class="nouveauMessageForum">
                        <div class="icone"></div>
                    </div>
                    <div class="descriptionSectionForum">
                        <a href="#">Nom Section</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab vel veniam, pariatur
                            alias sequi eaque quia impedit esse id?</p>
                    </div>
                    <div class="nombreDeMessages">
                        <p>X Messages</p>
                        <p>X Sujets</p>
                    </div>
                    <div class="dernierPosteur">
                        <p>Dernier Message :</p>
                        <a href="#">Pseudo du Membre</a>
                        <p>Date et Heure du message</p>
                    </div>
                </div>
                <div class="sectionForum">
                    <div class="nouveauMessageForum">
                        <div class="icone"></div>
                    </div>
                    <div class="descriptionSectionForum">
                        <a href="#">Nom Section</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab vel veniam, pariatur
                            alias sequi eaque quia impedit esse id?</p>
                    </div>
                    <div class="nombreDeMessages">
                        <p>X Messages</p>
                        <p>X Sujets</p>
                    </div>
                    <div class="dernierPosteur">
                        <p>Dernier Message :</p>
                        <a href="#">Pseudo du Membre</a>
                        <p>Date et Heure du message</p>
                    </div>
                </div>
                <div class="sectionForum">
                    <div class="nouveauMessageForum">
                        <div class="icone"></div>
                    </div>
                    <div class="descriptionSectionForum">
                        <a href="#">Nom Section</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab vel veniam, pariatur
                            alias sequi eaque quia impedit esse id?</p>
                    </div>
                    <div class="nombreDeMessages">
                        <p>X Messages</p>
                        <p>X Sujets</p>
                    </div>
                    <div class="dernierPosteur">
                        <p>Dernier Message :</p>
                        <a href="#">Pseudo du Membre</a>
                        <p>Date et Heure du message</p>
                    </div>
                </div>


                <div class="categorieForum">
                    <h2>Categorie 2</h2>
                </div>
                <div class="sectionForum">
                    <div class="nouveauMessageForum">
                        <div class="icone"></div>
                    </div>
                    <div class="descriptionSectionForum">
                        <a href="#">Nom Section</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab vel veniam, pariatur
                            alias sequi eaque quia impedit esse id?</p>
                    </div>
                    <div class="nombreDeMessages">
                        <p>X Messages</p>
                        <p>X Sujets</p>
                    </div>
                    <div class="dernierPosteur">
                        <p>Dernier Message :</p>
                        <a href="#">Pseudo du Membre</a>
                        <p>Date et Heure du message</p>
                    </div>
                </div>
                <div class="sectionForum">
                    <div class="nouveauMessageForum">
                        <div class="icone"></div>
                    </div>
                    <div class="descriptionSectionForum">
                        <a href="#">Nom Section</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab vel veniam, pariatur
                            alias sequi eaque quia impedit esse id?</p>
                    </div>
                    <div class="nombreDeMessages">
                        <p>X Messages</p>
                        <p>X Sujets</p>
                    </div>
                    <div class="dernierPosteur">
                        <p>Dernier Message :</p>
                        <a href="#">Pseudo du Membre</a>
                        <p>Date et Heure du message</p>
                    </div>
                </div>
                <div class="sectionForum">
                    <div class="nouveauMessageForum">
                        <div class="icone"></div>
                    </div>
                    <div class="descriptionSectionForum">
                        <a href="#">Nom Section</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab vel veniam, pariatur
                            alias sequi eaque quia impedit esse id?</p>
                    </div>
                    <div class="nombreDeMessages">
                        <p>X Messages</p>
                        <p>X Sujets</p>
                    </div>
                    <div class="dernierPosteur">
                        <p>Dernier Message :</p>
                        <a href="#">Pseudo du Membre</a>
                        <p>Date et Heure du message</p>
                    </div>
                </div>
                <div class="categorieForum">
                    <h2>Categorie 3</h2>
                </div>
                <div class="sectionForum">
                    <div class="nouveauMessageForum">
                        <div class="icone"></div>
                    </div>
                    <div class="descriptionSectionForum">
                        <a href="#">Nom Section</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab vel veniam, pariatur
                            alias sequi eaque quia impedit esse id?</p>
                    </div>
                    <div class="nombreDeMessages">
                        <p>X Messages</p>
                        <p>X Sujets</p>
                    </div>
                    <div class="dernierPosteur">
                        <p>Dernier Message :</p>
                        <a href="#">Pseudo du Membre</a>
                        <p>Date et Heure du message</p>
                    </div>
                </div>
                <div class="sectionForum">
                    <div class="nouveauMessageForum">
                        <div class="icone"></div>
                    </div>
                    <div class="descriptionSectionForum">
                        <a href="#">Nom Section</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab vel veniam, pariatur
                            alias sequi eaque quia impedit esse id?</p>
                    </div>
                    <div class="nombreDeMessages">
                        <p>X Messages</p>
                        <p>X Sujets</p>
                    </div>
                    <div class="dernierPosteur">
                        <p>Dernier Message :</p>
                        <a href="#">Pseudo du Membre</a>
                        <p>Date et Heure du message</p>
                    </div>
                </div>
            </div>

        </section>

        <section class="container">
            <section class="membresConnectes">
                <p>Membre(s) connecté(s) sur le forum :</p>
            </section>
        </section>
    </section>