<section class="livreDor">
        <section class="container">
            <div>
                <a href="#" class="submitImportant">Poster un message dans le livre d'or</a>
            </div>
            <article>
                <div class="infosMembre">
                    <a href="#">
                        <h3>Pseudo</h3>
                    </a>
                    <p>Rang</p>
                    <div>
                        Avatar
                    </div>
                </div>
                <div class="messageDate">
                    <div class="date">
                        <p>Message Envoyé le Date</p>
                    </div>
                    <div class="message">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptate
                            consectetur perspiciatis earum, modi quia voluptatum, pariatur tempora quasi iure
                            commodi eaque animi magni, molestias aliquid! Quibusdam corrupti doloremque velit
                            mollitia molestiae? Sequi ipsam natus voluptatum iusto eaque, accusantium vel
                            quibusdam enim recusandae dolor omnis alias excepturi, laborum eos exercitationem.
                        </p>
                    </div>
                </div>
            </article>

            <article>
                <div class="infosMembre">
                    <a href="#">
                        <h3>Pseudo</h3>
                    </a>
                    <p>Rang</p>
                    <div>
                        Avatar
                    </div>
                </div>
                <div class="messageDate">
                    <div class="date">
                        <p>Message Envoyé le Date</p>
                    </div>
                    <div class="message">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptate
                            consectetur perspiciatis earum, modi quia voluptatum, pariatur tempora quasi iure
                            commodi eaque animi magni, molestias aliquid! Quibusdam corrupti doloremque velit
                            mollitia molestiae? Sequi ipsam natus voluptatum iusto eaque, accusantium vel
                            quibusdam enim recusandae dolor omnis alias excepturi, laborum eos exercitationem.
                        </p>
                    </div>
                </div>
            </article>

            <article>
                <div class="infosMembre">
                    <a href="#">
                        <h3>Pseudo</h3>
                    </a>
                    <p>Rang</p>
                    <div>
                        Avatar
                    </div>
                </div>
                <div class="messageDate">
                    <div class="date">
                        <p>Message Envoyé le Date</p>
                    </div>
                    <div class="message">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptate
                            consectetur perspiciatis earum, modi quia voluptatum, pariatur tempora quasi iure
                            commodi eaque animi magni, molestias aliquid! Quibusdam corrupti doloremque velit
                            mollitia molestiae? Sequi ipsam natus voluptatum iusto eaque, accusantium vel
                            quibusdam enim recusandae dolor omnis alias excepturi, laborum eos exercitationem.
                        </p>
                    </div>
                </div>
            </article>
        </section>
    </section>