<section class="menuCommunautaire">

    <div class="container">
        <nav>
            <ul>
                <li>
                    <a 
                    routerLink="moncompte" 
                    title="Mon Compte">
                        Mon Compte
                    </a>
                </li>
                <li>
                    <a 
                    routerLink="messagerie" 
                    title="Messagerie">
                        Messagerie
                    </a>
                </li>
                <li>
                    <a 
                    routerLink="classements" 
                    title="Classements">
                        Classements
                    </a>
                </li>
                <li>
                    <a 
                    routerLink="forum" 
                    title="Forum">
                        Forum
                    </a>
                </li>
                <li>
                    <a 
                    routerLink="nouveautes" 
                    title="Nouveautés">
                        Nouveautés
                    </a>
                </li>
                <li>
                    <a 
                    routerLink="livredor" 
                    title="Livre d'Or">
                        Livre d'Or
                    </a>
                </li>
                <li>
                    <a 
                    routerLink="aide" 
                    title="Aide">
                        Aide
                    </a>
                </li>
                <li>
                    <a 
                    routerLink="rechercher" 
                    title="Rechercher">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </a>
                </li>
                <li>
                    <a 
                    routerLink="#" 
                    title="Déconnexion" 
                    class="logOut">
                        <fa-icon [icon]="faSignOutAlt"></fa-icon>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</section>