<section class="rechercher">
        <section class="container">
            <div class="infoRecherche">
                <p>Vous pouvez faire une recherche de membre par pseudo ou IDM ( ID Membre ).</p>
                <p>Vous pouvez faire une recherche de dragon par nom ou par IDD ( ID Dragon ).</p>
                <p>Vous pouvez faire une recherche par nom d'élevage.</p>
            </div>
            <div class="recherches">
                <div class="rechercherMembre">
                    <h3>Rechercher un membre</h3>
                    <label for="recherchePseudo">Pseudo :</label>
                    <input type="text" name="pseudo" id="recherchePseudo" class="inputText">
                    <a href="#" class="submitImportant">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </a>
                    <br />
                    <label for="rechercheIdm">IDM :</label>
                    <input type="text" name="idm" id="rechercheIdm" class="inputText">
                    <a href="#" class="submitImportant">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </a>
                </div>

                <div class="rechercherDragon">
                    <h3>Rechercher un dragon</h3>
                    <label for="rechercheNomDragon">Nom :</label>
                    <input type="text" name="pseudo" id="rechercheNomDragon" class="inputText">
                    <a href="#" class="submitImportant">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </a>
                    <br />
                    <label for="rechercheIdd">IDD :</label>
                    <input type="text" name="idm" id="rechercheIdd" class="inputText">
                    <a href="#" class="submitImportant">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </a>
                </div>

                <div class="rechercherElevage">
                    <h3>Rechercher un élevage</h3>
                    <label for="rechercheElevage">Nom :</label>
                    <input type="text" name="rechercheNomElevage" id="rechercheElevage" class="inputText">
                    <a href="#" class="submitImportant">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </a>
                </div>
            </div>
        </section>
    </section>