<section class="container">
    <section class="historiqueEc">
        <table>
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Quantité</td>
                    <td>Intitulé/Motif</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Infos</td>
                    <td>Infos</td>
                    <td>Infos</td>
                </tr>
                <tr>
                    <td>Infos</td>
                    <td>Infos</td>
                    <td>Infos</td>
                </tr>
                <tr>
                    <td>Infos</td>
                    <td>Infos</td>
                    <td>Infos</td>
                </tr>
            </tbody>
        </table>
    </section>
</section>