<section class="nouveautes">
        <section class="container">
            <div>
                <a href="#" class="submitImportant">Poster une nouveauté</a>
            </div>
            <article>
                <div class="infosMembre">
                    <a href="#">
                        <h3>Pseudo</h3>
                    </a>
                    <p>Rang</p>
                    <div>
                        Avatar
                    </div>
                </div>
                <div class="messageDate">
                    <div class="titreDate">
                        <div>
                            <h2>Titre nouveauté</h2>
                        </div>
                        <div>
                            <a href="#">Editer</a>
                            <span>-</span>
                            <a href="#">Supprimer</a>
                            <p>Nouveauté postée le Date</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptate
                            consectetur perspiciatis earum, modi quia voluptatum, pariatur tempora quasi iure
                            commodi eaque animi magni, molestias aliquid! Quibusdam corrupti doloremque velit
                            mollitia molestiae? Sequi ipsam natus voluptatum iusto eaque, accusantium vel
                            quibusdam enim recusandae dolor omnis alias excepturi, laborum eos exercitationem.
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <div class="infosMembre">
                    <a href="#">
                        <h3>Pseudo</h3>
                    </a>
                    <p>Rang</p>
                    <div>
                        Avatar
                    </div>
                </div>
                <div class="messageDate">
                    <div class="titreDate">
                        <div>
                            <h2>Titre nouveauté</h2>
                        </div>
                        <div>
                            <a href="#">Editer</a>
                            <span>-</span>
                            <a href="#">Supprimer</a>
                            <p>Nouveauté postée le Date</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptate
                            consectetur perspiciatis earum, modi quia voluptatum, pariatur tempora quasi iure
                            commodi eaque animi magni, molestias aliquid! Quibusdam corrupti doloremque velit
                            mollitia molestiae? Sequi ipsam natus voluptatum iusto eaque, accusantium vel
                            quibusdam enim recusandae dolor omnis alias excepturi, laborum eos exercitationem.
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <div class="infosMembre">
                    <a href="#">
                        <h3>Pseudo</h3>
                    </a>
                    <p>Rang</p>
                    <div>
                        Avatar
                    </div>
                </div>
                <div class="messageDate">
                    <div class="titreDate">
                        <div>
                            <h2>Titre nouveauté</h2>
                        </div>
                        <div>
                            <a href="#">Editer</a>
                            <span>-</span>
                            <a href="#">Supprimer</a>
                            <p>Nouveauté postée le Date</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptate
                            consectetur perspiciatis earum, modi quia voluptatum, pariatur tempora quasi iure
                            commodi eaque animi magni, molestias aliquid! Quibusdam corrupti doloremque velit
                            mollitia molestiae? Sequi ipsam natus voluptatum iusto eaque, accusantium vel
                            quibusdam enim recusandae dolor omnis alias excepturi, laborum eos exercitationem.
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <div class="infosMembre">
                    <a href="#">
                        <h3>Pseudo</h3>
                    </a>
                    <p>Rang</p>
                    <div>
                        Avatar
                    </div>
                </div>
                <div class="messageDate">
                    <div class="titreDate">
                        <div>
                            <h2>Titre nouveauté</h2>
                        </div>
                        <div>
                            <a href="#">Editer</a>
                            <span>-</span>
                            <a href="#">Supprimer</a>
                            <p>Nouveauté postée le Date</p>
                        </div>
                    </div>
                    <div class="message">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptate
                            consectetur perspiciatis earum, modi quia voluptatum, pariatur tempora quasi iure
                            commodi eaque animi magni, molestias aliquid! Quibusdam corrupti doloremque velit
                            mollitia molestiae? Sequi ipsam natus voluptatum iusto eaque, accusantium vel
                            quibusdam enim recusandae dolor omnis alias excepturi, laborum eos exercitationem.
                        </p>
                    </div>
                </div>
            </article>
           

        </section>
    </section>