<section class="marche">
        <section class="container">
            <div class="ventes">
                <div class="achatDragonnet">
                    <a routerLink="/achat_dragonnet" title="Acheter un dragonnet">Acheter un dragonnet</a>
                </div>
                <div class="ventesEncheres">
                    <a href="#" title="Ventes aux enchères">Ventes aux enchères</a>
                </div>
                <div class="ventesPrivileges">
                    <a href="#" title="Ventes Privilèges">Ventes privilèges</a>
                </div>
            </div>

            <div class="materiels">
                <div>
                    <h3>Matériels</h3>
                </div>

                <table>
                    <tr>
                        <td>Selle</td>
                        <td>Prix</td>
                        <td>
                            <label for="quantiteselle">Quantité</label>
                            <select name="quantiteselle" id="quantiteselle">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <a href="#" class="submitImportant">Acheter</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Armure de Dragon</td>
                        <td>Prix</td>
                        <td>
                            <label for="quantitearmuredragon">Quantité</label>
                            <select name="quantitearmuredragon" id="quantitearmuredragon">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <a href="#" class="submitImportant">Acheter</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Armure de Membre</td>
                        <td>Prix</td>
                        <td>
                            <label for="quantitearmuremembre">Quantité</label>
                            <select name="quantitearmuremembre" id="quantitearmuremembre">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <a href="#" class="submitImportant">Acheter</a>
                        </td>
                    </tr>
                </table>

                <h3>Filtres</h3>

                <table>
                    <tr>
                        <td>Filtre d'humeur</td>
                        <td>Prix</td>
                        <td>
                            <label for="quantitefiltrehumeur">Quantité</label>
                            <select name="quantitefiltrehumeur" id="quantitefiltrehumeur">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <a href="#" class="submitImportant">Acheter</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Filtre d'énergie</td>
                        <td>Prix</td>
                        <td>
                            <label for="quantiteFiltreEnergie">Quantité</label>
                            <select name="quantiteFiltreEnergie" id="quantiteFiltreEnergie">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <a href="#" class="submitImportant">Acheter</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Filtre de santé</td>
                        <td>Prix</td>
                        <td>
                            <label for="quantiteFiltreSante">Quantité</label>
                            <select name="quantiteFiltreSante" id="quantiteFiltreSante">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <a href="#" class="submitImportant">Acheter</a>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </section>