<section class="achatDragonnet">
    <div class="container">
        <h3>Achat d'un dragonnet</h3>
        <div class="formulaire">
            <form action="#" method="get">
                <label for="race">Race : </label>
                <select name="race" id="race" class="inputText">
                    <option value="bouldozor">Bouldozor</option>
                    <option value="faerus">Faerus</option>
                    <option value="noblosor">Noblosor</option>
                    <option value="oceosor">Oceosor</option>
                    <option value="raptosor">Raptosor</option>
                    <option value="serpentis">Serpentis</option>
                </select>
                <label for="couleur">Couleur : </label>
                <select name="couleur" id="couleur" class="inputText">
                    <option value="blanc">Blanc</option>
                    <option value="bleu">Bleu</option>
                    <option value="jaune">Jaune</option>
                    <option value="noir">noir</option>
                    <option value="orange">Orange</option>
                    <option value="rose">Rose</option>
                    <option value="rouge">Rouge</option>
                    <option value="vert">Vert</option>
                    <option value="violet">Violet</option>
                </select>
            </form>
            <a href="#" class="submitImportant">Acheter</a>
        </div>

        <div class="illustrationDragon">
        </div>
    </div>
</section>