// COULEURS

$couleurPrincipaleSite: #71A359;
$couleurSecondaireSite: #A3499F;
$couleurTextePrincipale: darken($couleurPrincipaleSite, 20%);
$couleurTexteSecondaire: darken($couleurSecondaireSite, 20%);
$couleurTexteBouton: #ffffff;
$couleurTexteHeaderFooter: #ffffff;
$couleurTexteBtnImportant: #ffffff;
$couleurBtnImportant: #ff0000;

$borderRadius : 5px;
$borderRadiusUnite : 5px;