<!-- <section class="contenuSite">
    <header></header>

    <section class="menuCommunautaire"></section>

    <section class="connexion"></section> -->


    <section>
        <div class="container">
            <div class="bulleAccueilNonConnecte">
                <span><p>Salutations visiteur !</p></span>
                <p>Vous aimez les Dragons mais n'avez pas assez de place chez vous pour en accueillir ?
                    Rejoignez Dracantis, élevez <span> vos propres dragons</span>, faites les naître, regardez
                    les grandir et
                    entraînez les aux combats pour devenir le<span> meilleurs éleveur !</span></p>
            </div>
            <div class="imageMascotte">
                <img src="./assets/images/declinaisons/serpentis/serpentis_dragonne_orange_01.png" alt="Mascotte">
            </div>
        </div>
    </section>
